body {
  padding: 50px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.blue {
	color: #428bca;
}

#between_nav_and_first_row {
	margin-left: 10px;
	padding-left: 10px;
}